<!--
ALMA - Atacama Large Millimeter Array
Copyright (c) AUI - Associated Universities Inc., 2011
(in the framework of the ALMA collaboration).
All rights reserved.

This library is free software; you can redistribute it and/or
modify it under the terms of the GNU Lesser General Public
License as published by the Free Software Foundation; either
version 2.1 of the License, or (at your option) any later version.

This library is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the GNU
Lesser General Public License for more details.

You should have received a copy of the GNU Lesser General Public
License along with this library; if not, write to the Free Software
Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA 02111-1307  USA
-->/
<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:util="http://www.springframework.org/schema/util"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xsi:schemaLocation="
    http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
    http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-2.0.xsd
    http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
    http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd"
    default-lazy-init="true"
    default-autowire="byName" >

    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName"><value>org.hsqldb.jdbcDriver</value></property>
        <property name="url"><value>jdbc:hsqldb:hsql://localhost:8090/data_model</value></property>
        <property name="username"><value>sa</value></property>
        <property name="password"><value></value></property>
    </bean>

    <!-- Hibernate SessionFactory -->
    <bean id="sessionFactory" class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
        <property name="dataSource" ref="dataSource"/>
        <property name="mappingResources">
            <list>
                <value>alma/scheduling/datamodel/executive/Executive.hbm.xml</value>
                <value>alma/scheduling/datamodel/obsproject/ObsProject.hbm.xml</value>   
        		<value>alma/scheduling/datamodel/obsproject/ObsUnit.hbm.xml</value>   
        		<value>alma/scheduling/datamodel/obsproject/ObservingParameters.hbm.xml</value>  
        		<value>alma/scheduling/datamodel/obsproject/FieldSource.hbm.xml</value>
        		<value>alma/scheduling/datamodel/obsproject/Target.hbm.xml</value>
                <value>alma/scheduling/datamodel/weather/WeatherHistRecord.hbm.xml</value>
                <value>alma/scheduling/datamodel/observatory/TelescopeEquipment.hbm.xml</value>
            </list>
        </property>
        <property name="hibernateProperties">
        <props>
            <prop key="hibernate.dialect">org.hibernate.dialect.HSQLDialect</prop>
            <prop key="hibernate.show_sql">true</prop>
            <prop key="hibernate.format_sql">true</prop>
            <prop key="hibernate.transaction.factory_class">org.hibernate.transaction.JDBCTransactionFactory</prop>
            <prop key="hibernate.connection.autocommit">false</prop>
            <prop key="hibernate.hbm2ddl.auto">update</prop>
            <prop key="cache.use_query_cache">false</prop>
            <prop key="cache.use_second_level_cache">false</prop>
            <prop key="cache.provider_class">org.hibernate.cache.NoCacheProvider</prop>
            <prop key="transaction.flush_before_completion">true</prop>
            <prop key="transaction.auto_close_session">true</prop>
            <!-- Use the C3P0 connection pool provider -->
        	<prop key="hibernate.c3p0.min_size">5</prop>
        	<prop key="hibernate.c3p0.max_size">20</prop>
        	<prop key="hibernate.c3p0.timeout">300</prop>
        	<prop key="hibernate.c3p0.max_statements">50</prop>
        	<prop key="hibernate.c3p0.idle_test_period">3000</prop>
        </props>
        </property>
    </bean>

    <!-- enable transactional behavior based on annotations -->
    
    <tx:annotation-driven transaction-manager="transactionManager"/>
    <bean class="org.springframework.beans.factory.annotation.RequiredAnnotationBeanPostProcessor"/>
    
    <bean id="transactionManager"
        class="org.springframework.orm.hibernate3.HibernateTransactionManager">
        <property name="sessionFactory">
            <ref local="sessionFactory"/>
        </property>
    </bean>

    <!-- DAO Beans -->
    
    <bean id="configDao" class="alma.scheduling.datamodel.config.dao.XmlConfigurationDaoImpl"/>
    
    <bean id="xmlExecDao" class="alma.scheduling.datamodel.executive.dao.XmlExecutiveDaoImpl">
		<property name="configDao" ref="configDao"/>
	</bean>
    
	<bean id="execDao" class="alma.scheduling.datamodel.executive.dao.ExecutiveDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>

</beans>
