*.class
*.jasper
Common/src/alma/scheduling/input/*/generated
Common/src/alma/scheduling/input/*/generated/*
Common/src/alma/scheduling/output/generated
Common/src/alma/scheduling/output/generated/*
/Scheduling
