<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:util="http://www.springframework.org/schema/util"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
    http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
    http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-2.0.xsd
    http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
    http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd"
	default-lazy-init="true" default-autowire="byName">

 	<bean id="dataSource2" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName">
			<value>org.hsqldb.jdbcDriver</value>
<!--            <value>oracle.jdbc.driver.OracleDriver</value> -->
		</property>
		<property name="url">
<!--			<value>jdbc:hsqldb:mem:data_model</value> -->
 			<value>jdbc:hsqldb:file:/export/home/griffin/javarias/APRC/tmp/hsqldb/data_model</value>
<!--   		<value>jdbc:hsqldb:hsql://localhost:8090/data_model</value> -->
<!--            <value>jdbc:oracle:thin:@localhost:1521:xe</value> -->
		</property>
		<property name="username">
<!--			<value>sa</value> -->
            <value>hibernate</value>
		</property>
		<property name="password">
			<value>aprc</value>
		</property>
	</bean> 

	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource"
		destroy-method="close">
<!--  		<property name="user" value="hibernate" />
		<property name="password" value="aprc" />
		<property name="driverClass" value="oracle.jdbc.driver.OracleDriver" />
		<property name="jdbcUrl" value="jdbc:oracle:thin:@localhost:1521:xe" /> -->
		<property name="user" value="sa" />
		<property name="password" value="" />
		<property name="driverClass" value="org.hsqldb.jdbcDriver" />
		<property name="jdbcUrl" value="jdbc:hsqldb:file:/home/almaproc/APRC/tmp/hsqldb/data_model" /> 
        <property name="initialPoolSize" value="5" />
		<property name="maxPoolSize" value="20" />
		<property name="minPoolSize" value="1" />
		<property name="acquireIncrement" value="1" />
		<property name="acquireRetryAttempts" value="5" />
	</bean> 

	<!-- Hibernate SessionFactory -->
	<bean id="sessionFactory" class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource"/>
		<property name="mappingResources">
			<list>
				<value>alma/scheduling/datamodel/executive/Executive.hbm.xml</value>
				<value>alma/scheduling/datamodel/obsproject/ObsProject.hbm.xml</value>
				<value>alma/scheduling/datamodel/obsproject/ObsUnit.hbm.xml</value>
				<value>alma/scheduling/datamodel/obsproject/ObservingParameters.hbm.xml</value>
				<value>alma/scheduling/datamodel/obsproject/FieldSource.hbm.xml</value>
				<value>alma/scheduling/datamodel/obsproject/Target.hbm.xml</value>
				<value>alma/scheduling/datamodel/weather/WeatherHistRecord.hbm.xml</value>
				<value>alma/scheduling/datamodel/weather/AtmParameters.hbm.xml</value>
				<value>alma/scheduling/datamodel/output/Output.hbm.xml</value>
				<value>alma/scheduling/datamodel/config/Configuration.hbm.xml</value>
				<value>alma/scheduling/datamodel/observatory/TelescopeEquipment.hbm.xml</value>
			</list>
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.HSQLDialect</prop>
<!--                 <prop key="hibernate.dialect">org.hibernate.dialect.OracleDialect</prop> -->
				<prop key="hibernate.show_sql">false</prop>
				<prop key="hibernate.format_sql">true</prop>
				<prop key="hibernate.transaction.factory_class"
					>org.hibernate.transaction.JDBCTransactionFactory</prop>
				<prop key="hibernate.connection.autocommit">false</prop>
				<prop key="hibernate.hbm2ddl.auto">update</prop>
				<prop key="hibernate.cache.use_query_cache">true</prop>
				<prop key="hibernate.cache.use_second_level_cache">true</prop>
				<prop key="hibernate.cache.provider_class">org.hibernate.cache.EhCacheProvider</prop>
				<prop key="hibernate.transaction.flush_before_completion">true</prop>
				<prop key="hibernate.transaction.auto_close_session">false</prop>
				<prop key="hibernate.max_fetch_depth">5</prop>
				<prop key="hibernate.default_batch_fetch_size">16</prop>
				<prop key="hibernate.jdbc.batch_size">25</prop>
				<prop key="hibernate.jdbc.fetch_size">8</prop>

				<!-- Use the C3P0 connection pool provider -->
				<prop key="hibernate.c3p0.min_size">5</prop>
				<prop key="hibernate.c3p0.max_size">10</prop>
				<prop key="hibernate.c3p0.timeout">300</prop>
				<prop key="hibernate.c3p0.max_statements">50</prop>
				<prop key="hibernate.c3p0.idle_test_period">3000</prop>
			</props>
		</property>
	</bean>

	<!-- enable transactional behavior based on annotations -->
	<tx:annotation-driven transaction-manager="transactionManager"/>

	<!-- The transaction manager -->
	<bean id="transactionManager"
		class="org.springframework.orm.hibernate3.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>

    <!-- ResultComposer -->
    <bean id="resultComposer" class="alma.scheduling.psm.sim.ResultComposer">
    </bean>

	<!-- DAO Beans -->
	<bean id="execDao" class="alma.scheduling.datamodel.executive.dao.ExecutiveDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	<bean id="outDao" class="alma.scheduling.datamodel.output.dao.OutputDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	<bean id="sbDao" class="alma.scheduling.datamodel.obsproject.dao.SchedBlockDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	<bean id="weatherDao" class="alma.scheduling.datamodel.weather.dao.MemoryWeatherHistoryDAOImpl">
		<property name="sessionFactory" ref="sessionFactory"/>
		<property name="configurationDao" ref="configDao"/>
	</bean>

	<bean id="atmDao" class="alma.scheduling.datamodel.weather.dao.AtmParametersDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>

	<bean id="obsProjectDao" class="alma.scheduling.datamodel.obsproject.dao.ObsProjectDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>

	<bean id="schedBlockDao" class="alma.scheduling.datamodel.obsproject.dao.SchedBlockDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	
	<bean id="sourceDao" class="alma.scheduling.datamodel.obsproject.dao.FieldSourceDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
	
	<!-- XML DAO Beans -->
	<bean id="configDao" class="alma.scheduling.datamodel.config.dao.ConfigurationDaoImpl"/>

	<bean id="xmlExecDao" class="alma.scheduling.datamodel.executive.dao.XmlExecutiveDaoImpl">
		<property name="configDao" ref="configDao"/>
	</bean>

	<bean id="xmlObsProjectDao"
		class="alma.scheduling.datamodel.obsproject.dao.XmlObsProjectDaoImpl">
		<property name="configurationDao" ref="configDao"/>
	</bean>

	<bean id="xmlObservatoryDao"
		class="alma.scheduling.datamodel.observatory.dao.XmlObservatoryDaoImpl">
		<property name="configurationDao" ref="configDao"/>
	</bean>

	<bean id="observatoryDao" class="alma.scheduling.datamodel.observatory.dao.ObservatoryDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>

	<!-- Archive/XMLStore Data Loader -->
	<bean id="archProjectDao"
		class="alma.scheduling.datamodel.obsproject.dao.Phase1XMLStoreProjectDao">
	</bean>
	
	<!--  RMI Client -->
	<bean id="remoteConsoleService" class="org.springframework.remoting.rmi.RmiProxyFactoryBean">
    	<property name="serviceUrl" value="rmi://localhost:1099/aprcSimConsoleService"/>
    	<property name="serviceInterface" value="alma.scheduling.psm.cli.RemoteConsole"/>
	</bean>
	
	<!-- DataLoaders Beans -->
	<bean id="obsProjectDataLoader" class="alma.scheduling.dataload.obsproject.ObsProjectDataLoader">
		<!-- <property name="xmlDao" ref="xmlObsProjectDao"/> -->
		<!-- <property name="archProjectDao" ref="archProjectDao" /> -->
		<property name="dao" ref="obsProjectDao" />
	</bean>
	
    <bean id="dataLinker" class="alma.scheduling.dataload.DataLinker">
        <property name="sbDao" ref="sbDao"/>
        <property name="execDao" ref="execDao"/>
        <property name="configDao" ref="configDao"/>
        <property name="obsPrjDao" ref="obsProjectDao"/>
    </bean>
	
    <bean id="fullDataLoader" class="alma.scheduling.dataload.CompositeDataLoader">
		<property name="loaders">
			<list>
				<ref bean="obsProjectDataLoader"/>
				<bean class="alma.scheduling.dataload.ExecutiveDataLoader">
					<property name="dbDao" ref="execDao"/>
					<property name="xmlDao" ref="xmlExecDao"/>
				</bean>
				<bean class="alma.scheduling.dataload.observatory.ObservatoryDataLoader">
					<property name="dao" ref="observatoryDao"/>
					<property name="xmlDao" ref="xmlObservatoryDao"/>
				</bean>
				<ref bean="dataLinker"/>
			</list>
		</property>
	</bean>
	
    <bean id="fullDataUnloader" class="alma.scheduling.dataload.obsproject.ObsProjectDataUnloader">
	    <property name="xmlDao" ref="xmlObsProjectDao"/>
      	    <property name="dao" ref="obsProjectDao"/>
	</bean>

	<!-- Weather Algorithm Beans -->
	<bean id="weatherDataLoader" class="alma.scheduling.dataload.CompositeDataLoader">
		<property name="loaders">
			<list>
				<bean class="alma.scheduling.dataload.TemperatureDataLoader">
					<property name="configurationDao" ref="configDao"/>
					<property name="file" value="Temp_average_15min_all.dat"/>
					<property name="dao" ref="weatherDao"/>
					<property name="maxNumRecords" value="-1"/>
				</bean>
				<bean class="alma.scheduling.dataload.WindSpeedDataLoader">
					<property name="configurationDao" ref="configDao"/>
					<property name="file" value="WindSpeed_average_15min_all.dat"/>
					<property name="dao" ref="weatherDao"/>
					<property name="maxNumRecords" value="-1"/>
				</bean>
				<bean class="alma.scheduling.dataload.AtmDataLoader">
					<property name="configurationDao" ref="configDao"/>
					<property name="file" value="SKY.SPE0001.trim"/>
					<property name="dao" ref="atmDao"/>
					<property name="maxNumRecords" value="-1"/>
					<property name="pwc" value="0.4722"/>
				</bean>
				<bean class="alma.scheduling.dataload.AtmDataLoader">
					<property name="configurationDao" ref="configDao"/>
					<property name="file" value="SKY.SPE0002.trim"/>
					<property name="dao" ref="atmDao"/>
					<property name="maxNumRecords" value="-1"/>
					<property name="pwc" value="0.658"/>
				</bean>
				<bean class="alma.scheduling.dataload.AtmDataLoader">
					<property name="configurationDao" ref="configDao"/>
					<property name="file" value="SKY.SPE0003.trim"/>
					<property name="dao" ref="atmDao"/>
					<property name="maxNumRecords" value="-1"/>
					<property name="pwc" value="0.9134"/>
				</bean>
				<bean class="alma.scheduling.dataload.AtmDataLoader">
					<property name="configurationDao" ref="configDao"/>
					<property name="file" value="SKY.SPE0004.trim"/>
					<property name="dao" ref="atmDao"/>
					<property name="maxNumRecords" value="-1"/>
					<property name="pwc" value="1.262"/>
				</bean>
				<bean class="alma.scheduling.dataload.AtmDataLoader">
					<property name="configurationDao" ref="configDao"/>
					<property name="file" value="SKY.SPE0005.trim"/>
					<property name="dao" ref="atmDao"/>
					<property name="maxNumRecords" value="-1"/>
					<property name="pwc" value="1.796"/>
				</bean>
				<bean class="alma.scheduling.dataload.AtmDataLoader">
					<property name="configurationDao" ref="configDao"/>
					<property name="file" value="SKY.SPE0006.trim"/>
					<property name="dao" ref="atmDao"/>
					<property name="maxNumRecords" value="-1"/>
					<property name="pwc" value="2.748"/>
				</bean>
				<bean class="alma.scheduling.dataload.AtmDataLoader">
					<property name="configurationDao" ref="configDao"/>
					<property name="file" value="SKY.SPE0007.trim"/>
					<property name="dao" ref="atmDao"/>
					<property name="maxNumRecords" value="-1"/>
					<property name="pwc" value="5.186"/>
				</bean>
			</list>
		</property>
	</bean>


	<!-- My Test Algorithm Beans -->

	<!-- Selectors -->
	<bean id="execSelector" class="alma.scheduling.algorithm.executive.ExecutiveSelector"
		scope="prototype">
        <constructor-arg><value>execSelector</value></constructor-arg>
		<property name="execDao" ref="execDao"/>
		<property name="sbDao" ref="sbDao"/>
	</bean>

	<bean id="weatherSelector" class="alma.scheduling.algorithm.weather.WeatherFullSelector"
		scope="prototype">
        <constructor-arg><value>weatherSelector</value></constructor-arg>
		<property name="schedBlockDao" ref="schedBlockDao"/>
	</bean>
	
    <bean id="weatherTsysSelector" class="alma.scheduling.algorithm.weather.WeatherTsysSelector"
		scope="prototype">
        <constructor-arg><value>weatherTsysSelector</value></constructor-arg>
		<property name="schedBlockDao" ref="schedBlockDao"/>
        <property name="tsysVariation" value="0.2"/>
	</bean>

	<bean id="sourceSelector" class="alma.scheduling.algorithm.obsproject.FieldSourceObservableSelector"
		scope="prototype">
        <constructor-arg><value>sourceSelector</value></constructor-arg>
		<property name="configDao" ref="configDao"/>
		<property name="schedBlockDao" ref="schedBlockDao"/>		
	</bean>
	
	<bean id="arrayConfigSelector" class="alma.scheduling.algorithm.observatory.ArrayConfigurationSelector"
		scope="prototype">
        <constructor-arg><value>arrayConfigSelector</value></constructor-arg>
		<property name="sbDao" ref="sbDao"/>		
	</bean>
	
	<bean id="hourAngleSelector" class="alma.scheduling.algorithm.obsproject.HourAngleSelector"
		scope="prototype">
        <constructor-arg><value>hourAngleSelector</value></constructor-arg>
		<property name="sbDao" ref="sbDao"/>		
	</bean>
	
    <bean id="sunAvoidanceSelector" class="alma.scheduling.algorithm.obsproject.SunAvoidanceSelector"
		scope="prototype">
        <constructor-arg><value>sunAvoidanceSelector</value></constructor-arg>
		<property name="sbDao" ref="sbDao"/>		
	</bean>
	
	<bean id="moonAvoidanceSelector" class="alma.scheduling.algorithm.obsproject.MoonAvoidanceSelector"
		scope="prototype">
        <constructor-arg><value>moonAvoidanceSelector</value></constructor-arg>
		<property name="sbDao" ref="sbDao"/>		
	</bean>

	<bean id="sbStatusSelector" class="alma.scheduling.algorithm.obsproject.SchedBlockStatusSelector"
		scope="prototype">
        <constructor-arg><value>sbStatusSelector</value></constructor-arg>
		<property name="sbDao" ref="sbDao"/>		
	</bean>

	<bean id="preUpdateSelector" class="alma.scheduling.algorithm.sbselection.MasterSelector"
		scope="prototype">
		<property name="selectors">
			<set>
				<ref bean="execSelector"/>
				<ref bean="sourceSelector"/>
				<ref bean="arrayConfigSelector"/>
				<ref bean="hourAngleSelector" />
                <ref bean="sunAvoidanceSelector" />
                <ref bean="moonAvoidanceSelector" />
                <ref bean="sbStatusSelector" /> 
			</set>
        </property>
	</bean>

	<bean id="postUpdateSelectorAndUpdater" class="alma.scheduling.algorithm.sbselection.MasterSelectorWithUpdater">
		<property name="selectors">
			<set>
            <!-- The preupdate selector must be included to get the criteriones
            already used in the pre update query-->
                <ref bean="weatherTsysSelector" />
			</set>
        </property>
        <property name="partialUpdates">
        	<set>
        		<ref bean="weatherUpdater"/>
        	</set>
        </property>
        <property name="fullUpdates">
        	<set>
        		<ref bean="sourceUpdater"/>
        	</set>
        </property>
	</bean>
	<!-- Rankers -->
	
	<bean id="sciRanker" class="alma.scheduling.algorithm.sbranking.ScienceGradeRanker" scope="prototype">
        <constructor-arg><value>sciRanker</value></constructor-arg>
		<property name="factor" value="1"/>
	</bean>

	<bean id="hourAngleRanker" class="alma.scheduling.algorithm.obsproject.HourAngleRanker" scope="prototype">
        <constructor-arg><value>hourAngleRanker</value></constructor-arg>
	</bean>
	
	<bean id="finalRanker" class="alma.scheduling.algorithm.sbranking.FinalRanker" scope="prototype">
        <constructor-arg><value>finalRanker</value></constructor-arg>
		<property name="rankers">
			<set>
				<ref bean="sciRanker"/>
				<ref bean="hourAngleRanker"/>
			</set>
		</property>
		<property name="weights">
			<list>
				<value>1.0</value>
				<value>1.0</value>
			</list>
		</property>
	</bean>

	<!-- Updaters -->
	<bean id="weatherUpdater" class="alma.scheduling.algorithm.weather.MemoryWeatherUpdater">
		<property name="dao" ref="atmDao"/>
		<property name="selector" ref="weatherSelector"/>
		<property name="weatherDao" ref="weatherDao"/>
		<property name="configDao" ref="configDao"/>
		<property name="projTimeIncr" value="0.5"/>
	</bean>
	
	<bean id="sourceUpdater" class="alma.scheduling.algorithm.obsproject.FieldSourceObservabilityUpdater">
		<property name="configDao" ref="configDao"/>
		<property name="sourceDao" ref="sourceDao"/>
	</bean>
	
	<!-- Algorithm -->
	<bean id="dsa" class="alma.scheduling.algorithm.DynamicSchedulingAlgorithmImpl"
		scope="prototype">
		<property name="ranker" ref="finalRanker"/>
		<property name="preUpdateSelectors">
			<set>
                <ref bean="preUpdateSelector"/>
			</set>
		</property>
		<property name="postUpdateSelectors">
			<set>
				<ref bean="postUpdateSelectorAndUpdater"/>
			</set>
		</property>
		
		<property name="firstRunUpdaters">
			<set>
                <ref bean="sourceUpdater"/>
			</set>
		</property>
        <property name="updaters">
            <set>
                <ref bean="postUpdateSelectorAndUpdater"/>
            </set>
        </property>
	</bean>

	<!-- Reporters -->
	<bean id="execReporter" class="alma.scheduling.output.ExecutiveReporter">
		<property name="execDao" ref="execDao"/>
	</bean>

	<bean id="reporter" class="alma.scheduling.output.MasterReporter">
		<property name="reporters">
			<set>
				<ref bean="execReporter"/>
			</set>
		</property>
	</bean>

	<!-- SchedBlock Executor -->
	<bean name="opacityInterpolator" class="alma.scheduling.algorithm.weather.OpacityInterpolatorImpl"/>
	<bean name="schedBlockExecutor" class="alma.scheduling.algorithm.SchedBlockExecutorImpl">
		<property name="execDao" ref="execDao"/>
		<property name="weatherDao" ref="weatherDao"/>
		<property name="configDao" ref="configDao"/>
		<property name="opacityInterpolator" ref="opacityInterpolator"/>		
	</bean>
</beans>
